rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /actividades/{actividadId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.id_usuario;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.id_usuario;
    }
    match /alarmas/{alarmaId} {
      allow read, write: if request.auth != null;
    }
  }
}
